/* Index  */

.ctn_big_banner {
	position: relative;
	width: 100%;
	padding: 0;
}

.ctn_big_banner video{
	width: 100%;
}



.ctn_section_index {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 180px 0;
	padding: 50px;
}

.ctn_section_index h3{
	font-family: 'Vidaloka', serif;
	font-size: 80px;
	margin: 30px 0;
}

.ctn_section_index p{
	margin-bottom: 35px;
}

.ctn_section_index .ctn_txt {
	padding-left: 12%;
	text-align: left;
}

.ctn_section_index img {
	max-width: 300px;
}

.ctn_txt_img {
	position: relative;
}



@media screen and (max-width: 760px) {
	.ctn_section_index .ctn_txt {
    padding-left: 0;
    text-align: left;
	}
}